PORT=5000

FRONTEND_ORIGIN=http://localhost:5173

MONGODB_URI=mongodb://127.0.0.1:27017/flower_shop

# Cách 1 - khuyến nghị
CLOUDINARY_URL=cloudinary://YOUR_API_KEY:YOUR_API_SECRET@YOUR_CLOUD_NAME

# Hoặc Cách 2
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=