PORT=5000

FRONTEND_ORIGIN=http://localhost:5173

MONGODB_URI=mongodb://127.0.0.1:27017/flower_shop

# ==============================
# CLOUDINARY - SERVER ONLY
# ==============================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Có thể dùng CLOUDINARY_URL thay cho 3 biến trên:
#
# CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME